:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --light-background: #f5f4fa;
  --dark-background: #2f303a;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --black-logo-color: #000000;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-weight: 400;
}

/* ================HEADER======================= */
.navigation-link,
.header-mail-link,
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.current {
  color: var(--accent-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.header-mail-link {
  color: var(--main-text-color);
}
.header-tel-link {
  color: var(--main-text-color);
}
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}

.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

/* ================END HEADER======================= */

/* ================HERO======================= */
.hero {
  background-color: var(--dark-background);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* ================END HERO======================= */

/* ================FEATURES======================= */
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
.feature-description {
  font-size: 14px;
  line-height: 1.71;
}
/* ================END FEATURES======================= */

/* ====================TEAM========================== */
.team-member-name {
  font-weight: 500;
  color: var(--title-color);
}

.team-member-name,
.team-member-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* ===================END TEAM======================= */

/* ===================WORKS SECTION=================== */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.work-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

/* ===================END WORKS SECTION=============== */

/* ===================FOOTER======================= */
.footer {
  background-color: var(--dark-background);
}

.address {
  font-style: normal;
  color: var(--secondary-text-color);
}
.address,
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  color: var(--contacts-text-color);
}
.footer-tel {
  color: var(--contacts-text-color);
}
/* ===================END FOOTER==================== */

/* ================COMMON COMPONENTS============= */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo,
.logo-light {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-logo-color);
}
.logo-light {
  color: var(--secondary-text-color);
}
.logo-part {
  color: var(--accent-color);
}

/* ================END COMMON COMPONENTS========== */
